html,body {
  font-family: 'Raleway', sans-serif;
  color: #dfe6e9;
  text-align: center;
  height: 100%;
  background: url(bgimg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2 {
	font-weight: 700;
	margin: 0.4em 0;
}

h1 {
	font-size: 6vh;
  text-shadow: 1.3px 1.3px #d63031;
}

h2 {
  padding-top: 4vh;
  text-shadow: 1.3px 1.3px #d63031;
  font-size: 3vh;
}
#intro {
  padding-top: 25vh;
  margin: auto;
  height: 50%;
  width: 50%;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: #d63031;
}

.topnav a.active {
  color: #d63031;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  #intro {
    padding-top: 50px;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-90deg, #d63031, rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 7px #d63031);
          filter: drop-shadow(0 0 7px #d63031);
  -webkit-animation: tail 5000ms ease-in-out infinite, shooting 5000ms ease-in-out infinite;
          animation: tail 5000ms ease-in-out infinite, shooting 5000ms ease-in-out infinite;
}
.shooting_star::before, .shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-90deg, rgba(0, 0, 255, 0), #d63031, rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(90deg);
          transform: translateX(50%) rotateZ(90deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-90deg);
          transform: translateX(50%) rotateZ(-90deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -100px);
  left: calc(50% - 254px);
  -webkit-animation-delay: 8740ms;
          animation-delay: 8740ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 8740ms;
          animation-delay: 8740ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -144px);
  left: calc(50% - 82px);
  -webkit-animation-delay: 7643ms;
          animation-delay: 7643ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 7643ms;
          animation-delay: 7643ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 162px);
  left: calc(50% - 138px);
  -webkit-animation-delay: 5907ms;
          animation-delay: 5907ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 5907ms;
          animation-delay: 5907ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 46px);
  left: calc(50% - 31px);
  -webkit-animation-delay: 956ms;
          animation-delay: 956ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 956ms;
          animation-delay: 956ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -37px);
  left: calc(50% - 216px);
  -webkit-animation-delay: 889ms;
          animation-delay: 889ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 889ms;
          animation-delay: 889ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 33px);
  left: calc(50% - 124px);
  -webkit-animation-delay: 7216ms;
          animation-delay: 7216ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 7216ms;
          animation-delay: 7216ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 148px);
  left: calc(50% - 284px);
  -webkit-animation-delay: 4889ms;
          animation-delay: 4889ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 4889ms;
          animation-delay: 4889ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -2px);
  left: calc(50% - 230px);
  -webkit-animation-delay: 6075ms;
          animation-delay: 6075ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 6075ms;
          animation-delay: 6075ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -80px);
  left: calc(50% - 160px);
  -webkit-animation-delay: 3103ms;
          animation-delay: 3103ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 3103ms;
          animation-delay: 3103ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -187px);
  left: calc(50% - 269px);
  -webkit-animation-delay: 5716ms;
          animation-delay: 5716ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 5716ms;
          animation-delay: 5716ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 126px);
  left: calc(50% - 294px);
  -webkit-animation-delay: 8929ms;
          animation-delay: 8929ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 8929ms;
          animation-delay: 8929ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -191px);
  left: calc(50% - 9px);
  -webkit-animation-delay: 2769ms;
          animation-delay: 2769ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 2769ms;
          animation-delay: 2769ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 161px);
  left: calc(50% - 292px);
  -webkit-animation-delay: 4123ms;
          animation-delay: 4123ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 4123ms;
          animation-delay: 4123ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -37px);
  left: calc(50% - 138px);
  -webkit-animation-delay: 7410ms;
          animation-delay: 7410ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 7410ms;
          animation-delay: 7410ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 6px);
  left: calc(50% - 288px);
  -webkit-animation-delay: 816ms;
          animation-delay: 816ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 816ms;
          animation-delay: 816ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -6px);
  left: calc(50% - 173px);
  -webkit-animation-delay: 7623ms;
          animation-delay: 7623ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 7623ms;
          animation-delay: 7623ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - 92px);
  left: calc(50% - 43px);
  -webkit-animation-delay: 7659ms;
          animation-delay: 7659ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 7659ms;
          animation-delay: 7659ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 16px);
  left: calc(50% - 133px);
  -webkit-animation-delay: 8015ms;
          animation-delay: 8015ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 8015ms;
          animation-delay: 8015ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 198px);
  left: calc(50% - 18px);
  -webkit-animation-delay: 3054ms;
          animation-delay: 3054ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 3054ms;
          animation-delay: 3054ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - 143px);
  left: calc(50% - 114px);
  -webkit-animation-delay: 2680ms;
          animation-delay: 2680ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 2680ms;
          animation-delay: 2680ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
