html,body {
  font-family: 'Raleway', sans-serif;
  color: #aaa;
  text-align: center;
  height: 100%;
  background: url(bgimg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2 {
	font-weight: 400;
	margin: 0.4em 0;
}

h1 { 
	font-size: 2.5em; 
}

#intro {
  padding-top: 200px;
  margin: auto;
  width: 50%;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: red;
}

.topnav a.active {
  color: red;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  #intro {
  padding-top: 20px;
}
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}